- content_for :title, "Modifier le lieu de vente"
- content_for :layout, "admin"

= adm_page_header "Modifier le lieu de vente : #{@sales_location.name}" do
  = link_to "Paramètres", admin_settings_path, class: adm_btn_class(:ghost)
  = link_to "Lieux de vente", admin_settings_sales_locations_path, class: adm_btn_class(:ghost)

= render "form", sales_location: @sales_location
