- content_for :title, "Nouvelle part de revenu"
- content_for :layout, "admin"

= adm_page_header "Nouvelle part de revenu" do
  = link_to "Paramètres", admin_settings_path, class: adm_btn_class(:ghost)
  = link_to "Artisans", admin_settings_artisans_path, class: adm_btn_class(:ghost)
  = link_to @artisan.name, admin_settings_artisan_revenue_shares_path(@artisan), class: adm_btn_class(:ghost)

= render "form", revenue_share: @revenue_share
