- content_for :title, "Nouvel événement public"
- content_for :layout, "admin"

= adm_page_header "Nouvel événement public" do
  = link_to "Parties", admin_party_events_path, class: adm_btn_class(:ghost)

= render "form"
