- content_for :title, "Nouveau type de moule"
- content_for :layout, "admin"

= adm_page_header "Nouveau type de moule" do
  = link_to "Paramètres", admin_settings_path, class: adm_btn_class(:ghost)
  = link_to "Types de moules", admin_settings_mold_types_path, class: adm_btn_class(:ghost)

= render "form", mold_type: @mold_type
