- content_for :title, "Nouvel ingrédient"
- content_for :layout, "admin"

= adm_page_header "Nouvel ingrédient" do
  = link_to "Paramètres", admin_settings_path, class: adm_btn_class(:ghost)
  = link_to "Ingrédients", admin_settings_ingredients_path, class: adm_btn_class(:ghost)

= render "form", ingredient: @ingredient
